@import url('./fonts.css');
@import url('./navbar.css');
@import url(colors.css);
body {
    background-color: var(--whiteish);
    margin: 0;
    padding: 0;
}

h2 {
    color: #c0bdb3;
    text-align: left;
    font-size: 40px;
    font-family: afacad-semi;
    margin-left: 30px;
    margin-bottom:0px;
}

p {
    font-family: barlow;
    font-size: 20px;
    margin:0px;
    padding:20px;
}

.info{
    color:#7D8597;
    font-family:barlow;
    margin:0;
    padding:0;
}
.draggable {
    width: 100px;
    height: 50px;
    background-color: lightblue;
    cursor: move; 
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    text-align: center;
    line-height: 50px;
    position: relative;
}

.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    background-color: lightcoral;
}

#game-container {
    display: flex;
    justify-content: space-around;
}

#blocks, #drop-zone {
    width: 200px;
    min-height: 200px;
    padding: 0px;
    border: 2px #000000;
    position:relative;
    background-color: #c51e1e;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#drop-zone{
    background-color: #c51e1e;
    z-index: -2;
}