body {
    background-color: #33415C;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: afacad-bold;
    src: url(AfacadFlux-Bold.ttf);
}
@font-face {
    font-family: afacad-semi;
    src: url(AfacadFlux-SemiBold.ttf);
}
@font-face {
    font-family: barlow;
    src: url(Barlow-Regular.ttf);
}
@font-face {
    font-family: barlow-semi;
    src: url(Barlow-SemiBold.ttf);
}

h1 {
    color: #F0EBD8;
    text-align: center;
    font-size: 50px;
    font-family: afacad-bold;
    margin:0;
    padding:15px;
    background-color: #5C677D;
}
h2 {
    color: #c0bdb3;
    text-align: left;
    font-size: 40px;
    font-family: afacad-semi;
    margin-left: 30px;
    margin-bottom:0px;
}

p {
    font-family: barlow;
    font-size: 20px;
    margin:0px;
    padding:20px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #001233;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    display: flex;
}
li {
    float: left;   
}
li a {
    display: block;
    color: #979DAC;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-family: barlow-semi;
    position: relative;
    overflow: hidden;
}
li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #979DAC;
    transition: left 0.5s ease-in-out;
    z-index:0;
}

li a:hover::before {
    left:0%;
}
li a span{
    position:relative;
    z-index:1;
}
li a:hover span{
    color:#001233
}

.info{
    color:#7D8597;
    font-family:barlow;
    margin:0;
    padding:0;
}
